.veiwPortContainer {
    width: 100vw;
    height: 55vh;
    cursor: grab;
}


@media screen and (min-width:720px) {
    .veiwPortContainer {
        width: 65vw;
        height: 50vh;
        cursor: grab;
    }
}